services:
  readonly:
    image: f1r3flyindustries/f1r3fly-scala-node
    user: root
    networks:
      - f1r3fly
    container_name: $READONLY_HOST
    ports:
      - "40451:40401"
      - "40452:40402"
      - "40453:40403"
    command:
    - run
    - --host=$READONLY_HOST
    - --bootstrap=rnode://1e780e5dfbe0a3d9470a2b414f502d59402e09c2@$BOOTSTRAP_HOST?protocol=40400&discovery=40404
    - --no-upnp
    - --allow-private-addresses
    - -Dlogback.configurationFile=/var/lib/rnode/logback.xml

    volumes:
      - ./conf/logback.xml:/var/lib/rnode/logback.xml

networks:
  f1r3fly:
    external: true
    name: docker_f1r3fly
